* {
    border: none;
    border-radius: 0;
    min-height: 20px;
    font-family: "JetBrains Nerd Font Mono";
    /*font-weight: bold;*/
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    /*font-size: 17px; */
    font-size: 15px;
	font-weight: normal;
	/* isolate waybar from gtk, really important */
	all: unset;
    /*font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';*/
}
 
tooltip {
    background: #383c4a;
	border: 1.5px solid;
	border-radius: 8px;
	padding: 2px 100px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}


/* COMMON CONFIGS */
#image,
#mpd *,
#taskbar *,
#power-menu *,
#quicklinks-left * {
    border-radius: 8px;
    color: #ffffff;
}

#clock,
#network,
#workspaces,
#sound,
#taskbar,
#battery,
#quicklinks-left {
    color: #ffffff;
    border-radius: 10px;
    background: #383c4a;
    padding: 3px 7px;
    margin: 4.5px;
    opacity: 0.9;
}

/* separate since it can't have margin to avoid glitching */
#power-menu {
    color: #ffffff;
    border-radius: 10px;
    background: #383c4a;
}

/* CUSTOM */

#workspaces {
    border-radius: 15px;
    background: #383c4a;
    padding: 1.5px;
    margin: 4px 5px;
}

#workspaces button {
    transition: all 0.2s ease-in-out;
	min-width: 25px;
	margin: 2px;
	border-radius: 45%; /* circle */
    /* color: #7c818c; */
    background: transparent;
    padding: 1px;
	padding-left: 4px;
	opacity: 0.6;
    font-size: 18px;
}

#workspaces button.persistent {
    color: #7c818c;
    font-size: 12px;
}

#workspaces button:hover {
    transition: none;
	opacity: 0.8;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    background: #7c818c;
}

#workspaces button.focused {
    color: white;
}

/* custom modules */
#power-menu,
#quicklinks-left {
    background: #383c4a;
}

#power-menu * {
    margin-left: 7px;
    margin-right: 7px;

}

#quicklinks-left {
	margin-left: 7px;
}

#power-menu *,
#quicklinks-left * {
	padding: 0px 5px;
	transition: all 0.2s ease-in-out;
}


#custom-power {
    color: #f7768e;
   font-size: 17px;
}

#custom-lock,
#custom-reboot,
#custom-logout {
    margin-left: 4px;
   font-size: 17px;
}

#custom-launcher,
#custom-terminal,
#custom-browser {
   margin-right: 7px;
   font-size: 22px;
}

/* children in power menu drawer */
#power-child {
    padding-left: 4px;
    padding-right: 0px;
    color: #7c818c;
}

#power-child * {
    padding-left: 4px;
    padding-right: 0px;
    color: #7c818c;
}

#quicklinks-left *:hover,
#power-menu *:hover {
    background: #7c818c;
}

#image {
  margin: 0px;
  padding: 0px;
}

/* taskbar */
#taskbar {
   padding: 0px;
}

#taskbar * {
   margin: 2px 3px;
}

#taskbar *:hover {
    background: #7c818c;
}


#image {
   margin: 0px;
   padding: 0px;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#network {
    margin-right: 8px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}


#backlight {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery {
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
